<div class="add-button-wrapper" fxLayout="column" fxLayoutAlign="end end" fxFlexAlign="end">
    <div class="add-button">
        <button mat-mini-fab color="primary" [routerLink]="['/markets']" matTooltip="Back">
            <mat-icon>arrow_left</mat-icon>
        </button>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center">

    <div fxLayout="row" fxLayoutAlign="center center">
        
        <h1>Market Details</h1>
    </div>


    <div fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="50" *ngIf="market" class="card-warp">

        <mat-card class="market-card">
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="end center" class="date">
                    <p>Created: <b>{{market.createdAt| date}}</b> </p>
                    <p>Updated: <b>{{market.updatedAt|date}}</b></p>
                </div>
            </mat-card-content>

            <mat-card-title>{{market.name}}</mat-card-title>
            <mat-card-subtitle>{{market.country}}</mat-card-subtitle>
            <mat-card-content>
                <p>Industry: <b>{{market.industry}}</b></p>
                <p>Sector: <b>{{market.sector}}</b></p>
                <p>Year: <b>{{market.ipoYear}}</b></p>
                <div fxLayout="row" fxLayoutAlign="start center" class="values">
                    <p>Market Cap: <b>{{market.marketCap}}</b></p>
                    <p>Volume: <b>{{market.volume}}</b></p>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="price">
                    <p>Net Change: <b>{{market.netChange}}</b></p>
                    <p>Net Change Percentage: <b>{{market.netChangePercent}}%</b></p>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center" class="price">
                    <mat-card-title>
                        Last Price: $ {{market.lastPrice}}
                    </mat-card-title>
                </div>



            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="space-evenly end">

                <button mat-raised-button color="primary" (click)="onEditMarket()">
                    <mat-icon>edit</mat-icon> Edit
                </button>
                <button mat-button color="warn" (click)="onDeleteMarket()">
                    <mat-icon>delete</mat-icon> Delete
                </button>

            </mat-card-actions>


        </mat-card>


    </div>
</div>